.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.date-header{

  display: flex;
  justify-content: space-around;
}

.btn-circle.btn-sm { 
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
} 

.list-table{

}

.navbar-form{
  display: flex;
  justify-content: space-around;
}

.form-navbar-children{

}

.my-modal {
 background: #fff;
 position: absolute;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 margin: auto;
 width: 300px;
 height: 300px;
 box-shadow: 0 5px 10px 2px rgba(195,192,192,.5);
 padding: 20px;
 text-align: center;
}
.modal-close {
 position: absolute;
 right: 6px;
 top: 9px;
 cursor: pointer;
 border: none;
 font-size: 20px;
}
.modal-toggle-button {
 cursor: pointer;
 background-color: ;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin-top: 20px;
}
.modal-toggle-button:focus {
 outline: none;
}